@import "tailwindcss";


.dark {
  --svg-g1: #030712;
  --svg-g2: #111827;
  --svg-bg: #dbeafe;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


@theme {
  /* Define your custom brand color */
  --color-brand: #0a0a23;

  --header-mobile: 4rem;
  --header-desktop: 5rem;

  --svg-g1: #939dac;
  --svg-g2: #b7bec8;
  --svg-bg: #cce0ff;



  --font-oswald: "Oswald",
    sans-serif;
  --font-montserrat: "Montserrat",
    sans-serif;


  /* Enable class-based Dark Mode */
  --variant-dark: &: where(.dark, .dark *);
}

@utility font-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

@utility font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* Enable manual Dark Mode switching by looking for the .dark class */
@custom-variant dark (&:where(.dark, .dark *));