@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "MyOswald";
  src: url("/fonts/oswald-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MyOswald";
  src: url("/fonts/oswald-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "MyOswald";
  src: url("/fonts/oswald-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

/* Background SVG Colors */

.dark {
  --svg-g1: #030712;
  --svg-g2: #111827;
  --svg-bg: #dbeafe;
}

/* Background SVG Transition */
ellipse,
stop {
  transition: fill 0.7s ease-in-out, stop-color 0.7s ease-in-out;
}

@theme {
  /* Define your custom brand color */
  --color-brand: #0a0a23;

  --header-mobile: 4rem;
  --header-desktop: 5rem;

  --footer-mobile: 5rem;
  --footer-desktop: 4rem;

  --svg-g1: #939dac;
  --svg-g2: #b7bec8;
  --svg-bg: #cce0ff;

  --font-inter: "Inter", system-ui, sans-serif;
  --font-heading: "MyOswald", system-ui, sans-serif;

  /* Enable class-based Dark Mode */
  --variant-dark: &: where(.dark, .dark *);
}



/* Enable manual Dark Mode switching by looking for the .dark class */
@custom-variant dark (&:where(.dark, .dark *));